### CLASS: Pandas for Exploratory Data Analysis

## MovieLens 100k movie rating data:
    main page: http://grouplens.org/datasets/movielens/
    data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt
    files: u.user, u.data, u.item

## WHO alcohol consumption data:
    article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
    original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
    file: drinks.csv (with additional 'continent' column)

## National UFO Reporting Center data:
    main page: http://www.nuforc.org/webreports.html
    file: ufo.csv

In [1]:
import pandas as pd

### Reading Files, Selecting Columns, and Summarizing

In [5]:
# can read a file from local computer or directly from a URL
# pd.read_table(r'data\u.user')
# pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT7/master/data/u.user')

          1|24|M|technician|85711
0              2|53|F|other|94043
1             3|23|M|writer|32067
2         4|24|M|technician|43537
3              5|33|F|other|15213
4          6|42|M|executive|98101
5      7|57|M|administrator|91344
6      8|36|M|administrator|05201
7            9|29|M|student|01002
8            10|53|M|lawyer|90703
9             11|39|F|other|30329
10            12|28|F|other|06405
11         13|47|M|educator|29206
12        14|45|M|scientist|55106
13         15|49|F|educator|97301
14    16|21|M|entertainment|10309
15       17|30|M|programmer|06355
16            18|35|F|other|37212
17        19|40|M|librarian|02138
18        20|42|F|homemaker|95660
19           21|26|M|writer|30068
20           22|25|M|writer|40206
21           23|30|F|artist|48197
22           24|21|F|artist|94533
23         25|39|M|engineer|55107
24         26|49|M|engineer|21044
25        27|40|F|librarian|30030
26           28|32|M|writer|55369
27       29|41|M|programmer|94043
28           30|7|M|student|55436
29           31|24|M|artist|10003
..                            ...
912          914|44|F|other|08105
913  915|50|M|entertainment|60614
914       916|27|M|engineer|N2L5N
915        917|22|F|student|20006
916      918|40|M|scientist|70116
917          919|25|M|other|14216
918         920|30|F|artist|90008
919        921|20|F|student|98801
920  922|29|F|administrator|21114
921        923|21|M|student|E2E3R
922          924|29|M|other|11753
923       925|18|F|salesman|49036
924  926|49|M|entertainment|01701
925     927|23|M|programmer|55428
926        928|21|M|student|55408
927      929|44|M|scientist|53711
928      930|28|F|scientist|07310
929       931|60|M|educator|33556
930       932|58|M|educator|06437
931        933|28|M|student|48105
932       934|61|M|engineer|22902
933         935|42|M|doctor|66221
934          936|24|M|other|32789
935       937|48|M|educator|98072
936     938|38|F|technician|55038
937        939|26|F|student|33319
938  940|32|M|administrator|02215
939        941|20|M|student|97229
940      942|48|F|librarian|78209
941        943|22|M|student|77841

[942 rows x 1 columns]

In [9]:
# read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table(r'data\u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044
27        40      F      librarian    30030
28        32      M         writer    55369
29        41      M     programmer    94043
30         7      M        student    55436
...      ...    ...            ...      ...
914       44      F          other    08105
915       50      M  entertainment    60614
916       27      M       engineer    N2L5N
917       22      F        student    20006
918       40      M      scientist    70116
919       25      M          other    14216
920       30      F         artist    90008
921       20      F        student    98801
922       29      F  administrator    21114
923       21      M        student    E2E3R
924       29      M          other    11753
925       18      F       salesman    49036
926       49      M  entertainment    01701
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [8]:
# examine the users data
users                   # print the first 30 and last 30 rows
type(users)             # DataFrame
users.head()            # print the first 5 rows
users.head(10)          # print the first 10 rows
users.tail()            # print the last 5 rows
users.index             # "the index" (aka "the labels")
users.columns           # column names (which is "an index")
users.dtypes            # data types of each column
users.shape             # number of rows and columns
users.values            # underlying numpy array
users.info()            # concise summary (including memory usage)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [10]:
# select a column
users['gender']         # select one column
type(users['gender'])   # Series
users.gender            # select one column using the DataFrame attribute

user_id
1      M
2      F
3      M
4      M
5      F
6      M
7      M
8      M
9      M
10     M
11     F
12     F
13     M
14     M
15     F
16     M
17     M
18     F
19     M
20     F
21     M
22     M
23     F
24     F
25     M
26     M
27     F
28     M
29     M
30     M
      ..
914    F
915    M
916    M
917    F
918    M
919    M
920    F
921    F
922    F
923    M
924    M
925    F
926    M
927    M
928    M
929    M
930    F
931    M
932    M
933    M
934    M
935    M
936    M
937    M
938    F
939    F
940    M
941    M
942    F
943    M
Name: gender, Length: 943, dtype: object

In [11]:
# summarize (describe) the data
users.describe()                    # describe all numeric columns
users.describe(include=['object'])  # describe all object columns (can include multiple types)
users.describe(include='all')       # describe all columns
users.gender.describe()             # describe a single column
users.age.mean()                    # only calculate the mean

34.05196182396607

In [12]:
# count the number of occurrences of each value
users.gender.value_counts()     # most useful for categorical variables
users.age.value_counts()        # can also be used with numeric variables

30    39
25    38
22    37
28    36
27    35
26    34
24    33
29    32
20    32
32    28
23    28
35    27
21    27
33    26
31    25
19    23
44    23
39    22
40    21
36    21
42    21
51    20
50    20
48    20
49    19
37    19
18    18
34    17
38    17
45    15
      ..
47    14
43    13
46    12
53    12
55    11
41    10
57     9
60     9
52     6
56     6
15     6
13     5
16     5
54     4
63     3
14     3
65     3
70     3
61     3
59     3
58     3
64     2
68     2
69     2
62     2
11     1
10     1
73     1
66     1
7      1
Name: age, Length: 61, dtype: int64

## EXERCISE ONE

In [14]:
# read drinks.csv into a DataFrame called 'drinks'
# drinks = pd.read_table('drinks.csv', sep=',')
drinks = pd.read_csv('data\drinks.csv')              # assumes separator is comma

In [15]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [16]:
# print the head and the tail
drinks.head()
drinks.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [17]:
# print the 'beer_servings' Series
drinks['beer_servings']
drinks.beer_servings

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, Length: 193, dtype: int64

In [18]:
# calculate the average 'beer_servings' for the entire dataset
drinks.describe()                   # summarize all numeric columns
drinks.beer_servings.describe()     # summarize only the 'beer_servings' Series
drinks.beer_servings.mean()         # only calculate the mean

106.16062176165804

In [19]:
# count the number of occurrences of each 'continent' value and see if it looks correct
drinks.continent.value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64


# Filtering and Sorting

In [20]:
# logical filtering: only show users with age < 20
young_bool = users.age < 20         # create a Series of booleans...
users[young_bool]                   # ...and use that Series to filter rows
users[users.age < 20]               # or, combine into a single step
users[users.age < 20].occupation    # select one column from the filtered results
users[users.age < 20].occupation.value_counts()     # value_counts of resulting Series

student          64
other             4
none              3
writer            2
entertainment     2
salesman          1
artist            1
Name: occupation, dtype: int64

In [22]:
# logical filtering with multiple conditions
users[(users.age < 20) & (users.gender=='M')]       # ampersand for AND condition
users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition
users[users.occupation.isin(['doctor', 'lawyer'])]  # alternative to multiple OR conditions

         age gender occupation zip_code
user_id
10        53      M     lawyer    90703
125       30      M     lawyer    22202
126       28      F     lawyer    20015
138       46      M     doctor    53211
161       50      M     lawyer    55104
205       47      M     lawyer    06371
251       28      M     doctor    85032
299       29      M     doctor    63108
339       35      M     lawyer    37901
365       29      M     lawyer    20009
419       37      M     lawyer    43215
427       51      M     doctor    85258
444       51      F     lawyer    53202
589       21      M     lawyer    90034
680       33      M     lawyer    90405
841       45      M     doctor    47401
845       64      M     doctor    97405
846       27      M     lawyer    47130
935       42      M     doctor    66221

In [29]:
# sorting
users.sort_index                 # sort a column
users.sort_values(by=['age'])                   # sort a DataFrame by a single column
users.sort_values(by=['age'], ascending=False)  # use descending order instead
users.sort_values(by=['occupation', 'age'])   # sort by multiple columns

         age gender     occupation zip_code
user_id
118       21      M  administrator    90210
180       22      F  administrator    60202
282       22      M  administrator    20057
317       22      M  administrator    13210
439       23      F  administrator    20817
509       23      M  administrator    10011
394       25      M  administrator    96819
665       25      M  administrator    55412
726       25      F  administrator    80538
78        26      M  administrator    61801
86        26      M  administrator    46005
62        27      F  administrator    97214
525       27      F  administrator    19711
261       28      M  administrator    85202
500       28      M  administrator    94305
748       28      M  administrator    94720
750       28      M  administrator    32303
768       29      M  administrator    12866
922       29      F  administrator    21114
42        30      M  administrator    17870
174       30      F  administrator    52302
190       30      M  administrator    95938
436       30      F  administrator    17345
447       30      M  administrator    55113
95        31      M  administrator    10707
578       31      M  administrator    M7A1A
762       32      M  administrator    95050
940       32      M  administrator    02215
191       33      M  administrator    95161
400       33      F  administrator    78213
...      ...    ...            ...      ...
668       29      F         writer    10016
199       30      M         writer    17604
557       30      F         writer    11217
28        32      M         writer    55369
122       32      F         writer    22206
796       32      F         writer    33755
833       34      M         writer    90019
264       36      F         writer    90064
385       36      M         writer    10003
911       37      F         writer    53210
504       40      F         writer    92115
798       40      F         writer    64131
842       40      M         writer    93055
390       42      F         writer    85016
745       42      M         writer    55113
491       43      F         writer    53711
236       44      F         writer    53214
389       44      F         writer    83702
736       48      F         writer    94618
829       48      M         writer    80209
196       49      M         writer    55105
518       49      F         writer    99709
853       49      M         writer    40515
503       50      F         writer    27514
772       50      M         writer    27105
548       51      M         writer    95468
370       52      M         writer    08534
392       52      M         writer    59801
558       56      F         writer    63132
464       60      M         writer    94583

[943 rows x 4 columns]

## EXERCISE TWO

In [32]:
# filter DataFrame to only include European countries
drinks[drinks.continent=='EU']

# filter DataFrame to only include European countries with wine_servings > 300
drinks[(drinks.continent=='EU') & (drinks.wine_servings > 300)]

# calculate the average 'beer_servings' for all of Europe
drinks[drinks.continent=='EU'].beer_servings.mean()

# determine which 10 countries have the highest total_litres_of_pure_alcohol
drinks.sort_values(by=['total_litres_of_pure_alcohol']).tail(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
99,Luxembourg,236,133,271,11.4,EU
155,Slovakia,196,293,116,11.4,EU
81,Ireland,313,118,165,11.4,EU
141,Russian Federation,247,326,73,11.5,AS
61,France,127,151,370,11.8,EU
45,Czech Republic,361,170,134,11.8,EU
68,Grenada,199,438,28,11.9,NaN
3,Andorra,245,138,312,12.4,EU
98,Lithuania,343,244,56,12.9,EU
15,Belarus,142,373,42,14.4,EU

# Renaming, Adding, and Removing Columns

In [33]:
# renaming one or more columns
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)

In [35]:
# replace all column names
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']
drinks = pd.read_csv('data\drinks.csv', header=0, names=drink_cols)  # replace during file reading
drinks.columns = drink_cols                                     # replace after file reading

In [36]:
drinks.columns

Index(['country', 'beer', 'spirit', 'wine', 'liters', 'continent'], dtype='object')

In [37]:
# add a new column as a function of existing columns
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine
drinks['mL'] = drinks.liters * 1000

In [38]:
drinks

,country,beer,spirit,wine,liters,continent,servings,mL
0,Afghanistan,0,0,0,0.0,AS,0,0.0
1,Albania,89,132,54,4.9,EU,275,4900.0
2,Algeria,25,0,14,0.7,AF,39,700.0
3,Andorra,245,138,312,12.4,EU,695,12400.0
4,Angola,217,57,45,5.9,AF,319,5900.0
5,Antigua & Barbuda,102,128,45,4.9,NaN,275,4900.0
6,Argentina,193,25,221,8.3,SA,439,8300.0
7,Armenia,21,179,11,3.8,EU,211,3800.0
8,Australia,261,72,212,10.4,OC,545,10400.0
9,Austria,279,75,191,9.7,EU,545,9700.0
10,Azerbaijan,21,46,5,1.3,EU,72,1300.0
11,Bahamas,122,176,51,6.3,NaN,349,6300.0
12,Bahrain,42,63,7,2.0,AS,112,2000.0
13,Bangladesh,0,0,0,0.0,AS,0,0.0
14,Barbados,143,173,36,6.3,NaN,352,6300.0
15,Belarus,142,373,42,14.4,EU,557,14400.0
16,Belgium,295,84,212,10.5,EU,591,10500.0
17,Belize,263,114,8,6.8,NaN,385,6800.0
18,Benin,34,4,13,1.1,AF,51,1100.0
19,Bhutan,23,0,0,0.4,AS,23,400.0
20,Bolivia,167,41,8,3.8,SA,216,3800.0
21,Bosnia-Herzegovina,76,173,8,4.6,EU,257,4600.0
22,Botswana,173,35,35,5.4,AF,243,5400.0
23,Brazil,245,145,16,7.2,SA,406,7200.0
24,Brunei,31,2,1,0.6,AS,34,600.0
25,Bulgaria,231,252,94,10.3,EU,577,10300.0
26,Burkina Faso,25,7,7,4.3,AF,39,4300.0
27,Burundi,88,0,0,6.3,AF,88,6300.0
28,Cote d'Ivoire,37,1,7,4.0,AF,45,4000.0
29,Cabo Verde,144,56,16,4.0,AF,216,4000.0
...,...,...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA,313,5600.0
164,Swaziland,90,2,2,4.7,AF,94,4700.0
165,Sweden,152,60,186,7.2,EU,398,7200.0
166,Switzerland,185,100,280,10.2,EU,565,10200.0
167,Syria,5,35,16,1.0,AS,56,1000.0
168,Tajikistan,2,15,0,0.3,AS,17,300.0
169,Thailand,99,258,1,6.4,AS,358,6400.0
170,Macedonia,106,27,86,3.9,EU,219,3900.0
171,Timor-Leste,1,1,4,0.1,AS,6,100.0
172,Togo,36,2,19,1.3,AF,57,1300.0
173,Tonga,36,21,5,1.1,OC,62,1100.0
174,Trinidad & Tobago,197,156,7,6.4,NaN,360,6400.0
175,Tunisia,51,3,20,1.3,AF,74,1300.0
176,Turkey,51,22,7,1.4,AS,80,1400.0
177,Turkmenistan,19,71,32,2.2,AS,122,2200.0
178,Tuvalu,6,41,9,1.0,OC,56,1000.0
179,Uganda,45,9,0,8.3,AF,54,8300.0
180,Ukraine,206,237,45,8.9,EU,488,8900.0
181,United Arab Emirates,16,135,5,2.8,AS,156,2800.0
182,United Kingdom,219,126,195,10.4,EU,540,10400.0
183,Tanzania,36,6,1,5.7,AF,43,5700.0
184,USA,249,158,84,8.7,NaN,491,8700.0
185,Uruguay,115,35,220,6.6,SA,370,6600.0
186,Uzbekistan,25,101,8,2.4,AS,134,2400.0
187,Vanuatu,21,18,11,0.9,OC,50,900.0
188,Venezuela,333,100,3,7.7,SA,436,7700.0
189,Vietnam,111,2,1,2.0,AS,114,2000.0
190,Yemen,6,0,0,0.1,AS,6,100.0
191,Zambia,32,19,4,2.5,AF,55,2500.0
192,Zimbabwe,64,18,4,4.7,AF,86,4700.0

In [39]:
# removing columns
drinks.drop('mL', axis=1)                               # axis=0 for rows, 1 for columns
drinks.drop(['mL', 'servings'], axis=1)                 # drop multiple columns
drinks.drop(['mL', 'servings'], axis=1, inplace=True)   # make it permanent

# Handling Missing Values

In [42]:
# missing values are usually excluded by default
drinks.continent.value_counts()              # excludes missing values
drinks.continent.value_counts(dropna=False)  # includes missing values

# find missing values in a Series
drinks.continent.isnull()           # True if missing, False if not missing
drinks.continent.isnull().sum()     # count the missing values
drinks.continent.notnull()          # True if not missing, False if missing
drinks[drinks.continent.notnull()]  # only show rows where continent is not missing

# side note: understanding axes
drinks.sum(axis=0)      # sums "down" the 0 axis (rows)
drinks.sum()            # axis=0 is the default
drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

# find missing values in a DataFrame
drinks.isnull()             # DataFrame of booleans
drinks.isnull().sum()       # count the missing values in each column

# drop missing values
drinks.dropna()             # drop a row if ANY values are missing
drinks.dropna(how='all')    # drop a row only if ALL values are missing

# fill in missing values
drinks.continent.fillna(value='NA')                 # fill in missing values with 'NA'
drinks.continent.fillna(value='NA', inplace=True)   # modifies 'drinks' in-place

# turn off the missing value filter
drinks = pd.read_csv('data\drinks.csv', header=0, names=drink_cols, na_filter=False)

## EXERCISE THREE

In [44]:
# read ufo.csv into a DataFrame called 'ufo'
ufo = pd.read_csv(r'data\ufo.csv')

In [45]:
# check the shape of the DataFrame
ufo.shape

(80543, 5)

In [46]:
# what are the three most common colors reported?
ufo['Colors Reported'].value_counts()[:3]
ufo['Colors Reported'].value_counts().head(3)

ORANGE    5216
RED       4809
GREEN     1897
Name: Colors Reported, dtype: int64

In [47]:
# rename any columns with spaces so that they don't contain spaces
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)
ufo.columns = [col.replace(' ', '_') for col in ufo.columns]

In [48]:
# for reports in VA, what's the most common city?
ufo[ufo.State=='VA'].City.value_counts()[:1]

Virginia Beach    110
Name: City, dtype: int64

In [49]:
# print a DataFrame containing only reports from Arlington, VA
ufo[(ufo.City=='Arlington') & (ufo.State=='VA')]

            City Colors_Reported Shape_Reported State              Time
202    Arlington           GREEN           OVAL    VA   7/13/1952 21:00
6300   Arlington             NaN        CHEVRON    VA    5/5/1990 21:40
10278  Arlington             NaN           DISK    VA   5/27/1997 15:30
14527  Arlington             NaN          OTHER    VA   9/10/1999 21:41
17984  Arlington             RED           DISK    VA  11/19/2000 22:00
21201  Arlington           GREEN       FIREBALL    VA    1/7/2002 17:45
22633  Arlington             NaN          LIGHT    VA    7/26/2002 1:15
22780  Arlington             NaN          LIGHT    VA    8/7/2002 21:00
25066  Arlington             NaN          CIGAR    VA    6/1/2003 22:34
27398  Arlington             NaN        VARIOUS    VA   12/13/2003 2:00
30608  Arlington             NaN         CIRCLE    VA   10/9/2004 22:30
31316  Arlington             NaN      FORMATION    VA   12/13/2004 0:30
35787  Arlington             NaN          LIGHT    VA   3/15/2006 22:30
37036  Arlington             NaN       TRIANGLE    VA    8/1/2006 22:00
39673  Arlington             NaN          LIGHT    VA    4/7/2007 18:45
41083  Arlington             NaN          FLASH    VA    8/15/2007 1:30
44562  Arlington             NaN       TRIANGLE    VA    6/6/2008 21:55
45450  Arlington             NaN           OVAL    VA    8/2/2008 20:30
48679  Arlington             NaN         SPHERE    VA   4/24/2009 17:45
54613  Arlington             NaN          LIGHT    VA   9/17/2010 19:00
54944  Arlington             NaN         SPHERE    VA  10/12/2010 19:00
70462  Arlington             NaN       FIREBALL    VA   6/25/2013 23:00
72856  Arlington             RED         SPHERE    VA   9/26/2013 21:20
73408  Arlington             NaN         CIRCLE    VA   10/19/2013 0:17
73747  Arlington             NaN          LIGHT    VA   11/1/2013 22:42
76144  Arlington             NaN          CIGAR    VA   2/21/2014 14:30
76325  Arlington             NaN            NaN    VA    3/1/2014 20:00
76337  Arlington             NaN      FORMATION    VA    3/1/2014 23:30
77807  Arlington      RED ORANGE          LIGHT    VA   5/24/2014 22:30
79122  Arlington             NaN         CIRCLE    VA    7/7/2014 21:00

In [50]:
# count the number of missing values in each column
ufo.isnull().sum()

City                  47
Colors_Reported    63509
Shape_Reported      8402
State                  0
Time                   0
dtype: int64

In [51]:
# how many rows remain if you drop all rows with any missing values?
ufo.dropna().shape[0]

15510

Split-Apply-Combine
Diagram: http://i.imgur.com/yjNkiwL.png

In [52]:
# for each continent, calculate the mean beer servings
drinks.groupby('continent').beer.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
NA    145.434783
OC     89.687500
SA    175.083333
Name: beer, dtype: float64

In [53]:
drinks.groupby('continent').mean()

                 beer      spirit        wine    liters
continent
AF          61.471698   16.339623   16.264151  3.007547
AS          37.045455   60.840909    9.068182  2.170455
EU         193.777778  132.555556  142.222222  8.617778
NA         145.434783  165.739130   24.521739  5.995652
OC          89.687500   58.437500   35.625000  3.381250
SA         175.083333  114.750000   62.416667  6.308333

In [54]:
# for each continent, describe beer servings
drinks.groupby('continent').beer.describe()

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
NA          23.0  145.434783  79.621163   1.0   80.00  143.0  198.00  285.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

In [56]:
# similar, but outputs a DataFrame and can be customized
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort_values(by=['mean'])

           count        mean  min  max
continent
AS            44   37.045455    0  247
AF            53   61.471698    0  376
OC            16   89.687500    0  306
NA            23  145.434783    1  285
SA            12  175.083333   93  333
EU            45  193.777778    0  361

In [57]:
# for each continent, describe all numeric columns
drinks.groupby('continent').describe()

           beer                                                             \
          count        mean        std   min     25%    50%     75%    max
continent
AF         53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS         44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU         45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
NA         23.0  145.434783  79.621163   1.0   80.00  143.0  198.00  285.0
OC         16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA         12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

          liters            ...    spirit         wine                         \
           count      mean  ...       75%    max count        mean        std
continent                   ...
AF          53.0  3.007547  ...     19.00  152.0  53.0   16.264151  38.846419
AS          44.0  2.170455  ...     98.00  326.0  44.0    9.068182  21.667034
EU          45.0  8.617778  ...    173.00  373.0  45.0  142.222222  97.421738
NA          23.0  5.995652  ...    190.50  438.0  23.0   24.521739  28.266378
OC          16.0  3.381250  ...     65.25  254.0  16.0   35.625000  64.555790
SA          12.0  6.308333  ...    148.75  302.0  12.0   62.416667  88.620189


           min   25%    50%     75%    max
continent
AF         0.0   1.0    2.0   13.00  233.0
AS         0.0   0.0    1.0    8.00  123.0
EU         0.0  59.0  128.0  195.00  370.0
NA         1.0   5.0   11.0   34.00  100.0
OC         0.0   1.0    8.5   23.25  212.0
SA         1.0   3.0   12.0   98.50  221.0

[6 rows x 32 columns]

In [58]:
# for each continent, count the number of occurrences
drinks.groupby('continent').continent.count()
drinks.continent.value_counts()

AF    53
EU    45
AS    44
NA    23
OC    16
SA    12
Name: continent, dtype: int64

## EXERCISE FOUR

In [60]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
doctor             7
homemaker          7
Name: occupation, dtype: int64

In [61]:
# for each occupation, calculate the mean age
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [62]:
# for each occupation, calculate the minimum and maximum ages
users.groupby('occupation').age.agg(['min', 'max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [63]:
# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation', 'gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

# Selecting Multiple Columns and Filtering Rows

In [64]:
# select multiple columns
my_cols = ['City', 'State']     # create a list of column names...
ufo[my_cols]                    # ...and use that list to select columns
ufo[['City', 'State']]          # or, combine into a single step

# use loc to select columns by name
ufo.loc[:, 'City']              # colon means "all rows", then select one column
ufo.loc[:, ['City', 'State']]   # select two columns
ufo.loc[:, 'City':'State']      # select a range of columns

# loc can also filter rows by "name" (the index)
ufo.loc[0, :]                   # row 0, all columns
ufo.loc[0:2, :]                 # rows 0/1/2, all columns
ufo.loc[0:2, 'City':'State']    # rows 0/1/2, range of columns

# use iloc to filter rows and select columns by integer position
ufo.iloc[:, [0, 3]]             # all rows, columns in position 0/3
ufo.iloc[:, 0:4]                # all rows, columns in position 0/1/2/3
ufo.iloc[0:3, :]                # rows in position 0/1/2, all columns

          City Colors_Reported Shape_Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00


# Joining (Merging) DataFrames

In [69]:
# read 'u.item' into 'movies'
movie_cols = ['movie_id', 'title']
movies = pd.read_table(r'data\u.item', sep='|', header=None, names=movie_cols, usecols=[0, 1], encoding='latin_1')

In [71]:
# read 'u.data' into 'ratings'
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table(r'data\u.data', sep='\t', header=None, names=rating_cols)

In [72]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
movie_ratings = pd.merge(movies, ratings)
movies.shape
ratings.shape
movie_ratings.shape

(100000, 5)

# Other Commonly Used Features

In [73]:
# map existing values to a different set of values
users['is_male'] = users.gender.map({'F':0, 'M':1})

# replace all instances of a value in a column (must match entire value)
ufo.State.replace('Fl', 'FL', inplace=True)

# string methods are accessed via 'str'
ufo.State.str.upper()                               # converts to uppercase
ufo.Colors_Reported.str.contains('RED', na='False') # checks for a substring

# convert a string to the datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.Time.dt.hour                        # datetime format exposes convenient attributes
(ufo.Time.max() - ufo.Time.min()).days  # also allows you to do datetime "math"

# setting and then removing an index
ufo.set_index('Time', inplace=True)
ufo.reset_index(inplace=True)

# change the data type of a column
drinks['beer'] = drinks.beer.astype('float')

# create dummy variables for 'continent' and exclude first dummy column
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]

# concatenate two DataFrames (axis=0 for rows, axis=1 for columns)
drinks = pd.concat([drinks, continent_dummies], axis=1)

# Other Less Used Features

In [74]:
# detecting duplicate rows
users.duplicated()          # True if a row is identical to a previous row
users.duplicated().sum()    # count of duplicates
users[users.duplicated()]   # only show duplicates
users.drop_duplicates()     # drop duplicate rows
users.age.duplicated()      # check a single column for duplicates
users.duplicated(['age', 'gender', 'zip_code']).sum()   # specify columns for finding duplicates

13

In [75]:
# convert a range of values into descriptive groups
drinks['beer_level'] = 'low'    # initially set all values to 'low'
drinks.loc[drinks.beer.between(101, 200), 'beer_level'] = 'med'     # change 101-200 to 'med'
drinks.loc[drinks.beer.between(201, 400), 'beer_level'] = 'high'    # change 201-400 to 'high'

In [76]:
# display a cross-tabulation of two Series
pd.crosstab(drinks.continent, drinks.beer_level)

beer_level  high  low  med
continent
AF             4   45    4
AS             1   40    3
EU            24    9   12
NA             5    8   10
OC             3   11    2
SA             3    1    8

In [78]:
# convert 'beer_level' into the 'category' data type
drinks['beer_level'] = pd.Categorical(drinks.beer_level, categories=['low', 'med', 'high'])
drinks.sort_values(by=['beer_level'])   # sorts by the categorical ordering (low to high)

,country,beer,spirit,wine,liters,continent,cont_AS,cont_EU,cont_NA,cont_OC,cont_SA,beer_level
0,Afghanistan,0.0,0,0,0.0,AS,1,0,0,0,0,low
102,Malaysia,13.0,4,0,0.3,AS,1,0,0,0,0,low
103,Maldives,0.0,0,0,0.0,AS,1,0,0,0,0,low
104,Mali,5.0,1,1,0.6,AF,0,0,0,0,0,low
106,Marshall Islands,0.0,0,0,0.0,OC,0,0,0,1,0,low
107,Mauritania,0.0,0,0,0.0,AF,0,0,0,0,0,low
108,Mauritius,98.0,31,18,2.6,AF,0,0,0,0,0,low
101,Malawi,8.0,11,1,1.5,AF,0,0,0,0,0,low
110,Micronesia,62.0,50,18,2.3,OC,0,0,0,1,0,low
112,Mongolia,77.0,189,8,4.9,AS,1,0,0,0,0,low
113,Montenegro,31.0,114,128,4.9,EU,0,1,0,0,0,low
114,Morocco,12.0,6,10,0.5,AF,0,0,0,0,0,low
115,Mozambique,47.0,18,5,1.3,AF,0,0,0,0,0,low
116,Myanmar,5.0,1,0,0.1,AS,1,0,0,0,0,low
118,Nauru,49.0,0,8,1.0,OC,0,0,0,1,0,low
111,Monaco,0.0,0,0,0.0,EU,0,1,0,0,0,low
100,Madagascar,26.0,15,4,0.8,AF,0,0,0,0,0,low
97,Libya,0.0,0,0,0.0,AF,0,0,0,0,0,low
191,Zambia,32.0,19,4,2.5,AF,0,0,0,0,0,low
78,Indonesia,5.0,1,0,0.1,AS,1,0,0,0,0,low
79,Iran,0.0,0,0,0.0,AS,1,0,0,0,0,low
80,Iraq,9.0,3,0,0.2,AS,1,0,0,0,0,low
82,Israel,63.0,69,9,2.5,AS,1,0,0,0,0,low
83,Italy,85.0,42,237,6.5,EU,0,1,0,0,0,low
84,Jamaica,82.0,97,9,3.4,NA,0,0,1,0,0,low
85,Japan,77.0,202,16,7.0,AS,1,0,0,0,0,low
86,Jordan,6.0,21,1,0.5,AS,1,0,0,0,0,low
88,Kenya,58.0,22,2,1.8,AF,0,0,0,0,0,low
89,Kiribati,21.0,34,1,1.0,OC,0,0,0,1,0,low
90,Kuwait,0.0,0,0,0.0,AS,1,0,0,0,0,low
...,...,...,...,...,...,...,...,...,...,...,...,...
3,Andorra,245.0,138,312,12.4,EU,0,1,0,0,0,high
76,Iceland,233.0,61,78,6.6,EU,0,1,0,0,0,high
188,Venezuela,333.0,100,3,7.7,SA,0,0,0,0,1,high
99,Luxembourg,236.0,133,271,11.4,EU,0,1,0,0,0,high
75,Hungary,234.0,215,185,11.3,EU,0,1,0,0,0,high
109,Mexico,238.0,68,5,5.5,NA,0,0,1,0,0,high
57,Estonia,224.0,194,59,9.5,EU,0,1,0,0,0,high
140,Romania,297.0,122,167,10.4,EU,0,1,0,0,0,high
93,Latvia,281.0,216,62,10.5,EU,0,1,0,0,0,high
141,Russian Federation,247.0,326,73,11.5,AS,1,0,0,0,0,high
135,Poland,343.0,215,56,10.9,EU,0,1,0,0,0,high
62,Gabon,347.0,98,59,8.9,AF,0,0,0,0,0,high
132,Paraguay,213.0,117,74,7.3,SA,0,0,0,0,1,high
25,Bulgaria,231.0,252,94,10.3,EU,0,1,0,0,0,high
65,Germany,346.0,117,175,11.3,EU,0,1,0,0,0,high
151,Serbia,283.0,131,127,9.6,EU,0,1,0,0,0,high
130,Panama,285.0,104,18,7.2,NA,0,0,1,0,0,high
23,Brazil,245.0,145,16,7.2,SA,0,0,0,0,1,high
129,Palau,306.0,63,23,6.9,OC,0,0,0,1,0,high
32,Canada,240.0,122,100,8.2,NA,0,0,1,0,0,high
156,Slovenia,270.0,51,276,10.6,EU,0,1,0,0,0,high
60,Finland,263.0,133,97,10.0,EU,0,1,0,0,0,high
159,South Africa,225.0,76,81,8.2,AF,0,0,0,0,0,high
160,Spain,284.0,157,112,10.0,EU,0,1,0,0,0,high
81,Ireland,313.0,118,165,11.4,EU,0,1,0,0,0,high
17,Belize,263.0,114,8,6.8,NA,0,0,1,0,0,high
121,New Zealand,203.0,79,175,9.3,OC,0,0,0,1,0,high
16,Belgium,295.0,84,212,10.5,EU,0,1,0,0,0,high
117,Namibia,376.0,3,1,6.8,AF,0,0,0,0,0,high
120,Netherlands,251.0,88,190,9.4,EU,0,1,0,0,0,high

In [79]:
# limit which rows are read when reading in a file
pd.read_csv('data\drinks.csv', nrows=10)           # only read first 10 rows
pd.read_csv('data\drinks.csv', skiprows=[1, 2])    # skip the first two rows of data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Algeria,25,0,14,0.7,AF
1,Andorra,245,138,312,12.4,EU
2,Angola,217,57,45,5.9,AF
3,Antigua & Barbuda,102,128,45,4.9,NaN
4,Argentina,193,25,221,8.3,SA
5,Armenia,21,179,11,3.8,EU
6,Australia,261,72,212,10.4,OC
7,Austria,279,75,191,9.7,EU
8,Azerbaijan,21,46,5,1.3,EU
9,Bahamas,122,176,51,6.3,NaN
10,Bahrain,42,63,7,2.0,AS
11,Bangladesh,0,0,0,0.0,AS
12,Barbados,143,173,36,6.3,NaN
13,Belarus,142,373,42,14.4,EU
14,Belgium,295,84,212,10.5,EU
15,Belize,263,114,8,6.8,NaN
16,Benin,34,4,13,1.1,AF
17,Bhutan,23,0,0,0.4,AS
18,Bolivia,167,41,8,3.8,SA
19,Bosnia-Herzegovina,76,173,8,4.6,EU
20,Botswana,173,35,35,5.4,AF
21,Brazil,245,145,16,7.2,SA
22,Brunei,31,2,1,0.6,AS
23,Bulgaria,231,252,94,10.3,EU
24,Burkina Faso,25,7,7,4.3,AF
25,Burundi,88,0,0,6.3,AF
26,Cote d'Ivoire,37,1,7,4.0,AF
27,Cabo Verde,144,56,16,4.0,AF
28,Cambodia,57,65,1,2.2,AS
29,Cameroon,147,1,4,5.8,AF
...,...,...,...,...,...,...
161,Suriname,128,178,7,5.6,SA
162,Swaziland,90,2,2,4.7,AF
163,Sweden,152,60,186,7.2,EU
164,Switzerland,185,100,280,10.2,EU
165,Syria,5,35,16,1.0,AS
166,Tajikistan,2,15,0,0.3,AS
167,Thailand,99,258,1,6.4,AS
168,Macedonia,106,27,86,3.9,EU
169,Timor-Leste,1,1,4,0.1,AS
170,Togo,36,2,19,1.3,AF
171,Tonga,36,21,5,1.1,OC
172,Trinidad & Tobago,197,156,7,6.4,NaN
173,Tunisia,51,3,20,1.3,AF
174,Turkey,51,22,7,1.4,AS
175,Turkmenistan,19,71,32,2.2,AS
176,Tuvalu,6,41,9,1.0,OC
177,Uganda,45,9,0,8.3,AF
178,Ukraine,206,237,45,8.9,EU
179,United Arab Emirates,16,135,5,2.8,AS
180,United Kingdom,219,126,195,10.4,EU
181,Tanzania,36,6,1,5.7,AF
182,USA,249,158,84,8.7,NaN
183,Uruguay,115,35,220,6.6,SA
184,Uzbekistan,25,101,8,2.4,AS
185,Vanuatu,21,18,11,0.9,OC
186,Venezuela,333,100,3,7.7,SA
187,Vietnam,111,2,1,2.0,AS
188,Yemen,6,0,0,0.1,AS
189,Zambia,32,19,4,2.5,AF
190,Zimbabwe,64,18,4,4.7,AF

In [80]:
# write a DataFrame out to a CSV
drinks.to_csv('data\drinks_updated.csv')                 # index is used as first column
drinks.to_csv('data\drinks_updated.csv', index=False)    # ignore index

In [81]:
# create a DataFrame from a dictionary
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

      capital state
0  Montgomery    AL
1      Juneau    AK
2     Phoenix    AZ

In [82]:
# create a DataFrame from a list of lists
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])

      capital state
0  Montgomery    AL
1      Juneau    AK
2     Phoenix    AZ

In [83]:
# randomly sample a DataFrame
import numpy as np
mask = np.random.rand(len(drinks)) < 0.66   # create a Series of booleans
train = drinks[mask]                        # will contain around 66% of the rows
test = drinks[~mask]                        # will contain the remaining rows

In [86]:
# change the maximum number of rows and columns printed ('None' means unlimited)
pd.set_option('max_rows', None)     # default is 60 rows
pd.set_option('max_columns', None)  # default is 20 columns
drinks

,country,beer,spirit,wine,liters,continent,cont_AS,cont_EU,cont_NA,cont_OC,cont_SA,beer_level
0,Afghanistan,0.0,0,0,0.0,AS,1,0,0,0,0,low
1,Albania,89.0,132,54,4.9,EU,0,1,0,0,0,low
2,Algeria,25.0,0,14,0.7,AF,0,0,0,0,0,low
3,Andorra,245.0,138,312,12.4,EU,0,1,0,0,0,high
4,Angola,217.0,57,45,5.9,AF,0,0,0,0,0,high
5,Antigua & Barbuda,102.0,128,45,4.9,NA,0,0,1,0,0,med
6,Argentina,193.0,25,221,8.3,SA,0,0,0,0,1,med
7,Armenia,21.0,179,11,3.8,EU,0,1,0,0,0,low
8,Australia,261.0,72,212,10.4,OC,0,0,0,1,0,high
9,Austria,279.0,75,191,9.7,EU,0,1,0,0,0,high
10,Azerbaijan,21.0,46,5,1.3,EU,0,1,0,0,0,low
11,Bahamas,122.0,176,51,6.3,NA,0,0,1,0,0,med
12,Bahrain,42.0,63,7,2.0,AS,1,0,0,0,0,low
13,Bangladesh,0.0,0,0,0.0,AS,1,0,0,0,0,low
14,Barbados,143.0,173,36,6.3,NA,0,0,1,0,0,med
15,Belarus,142.0,373,42,14.4,EU,0,1,0,0,0,med
16,Belgium,295.0,84,212,10.5,EU,0,1,0,0,0,high
17,Belize,263.0,114,8,6.8,NA,0,0,1,0,0,high
18,Benin,34.0,4,13,1.1,AF,0,0,0,0,0,low
19,Bhutan,23.0,0,0,0.4,AS,1,0,0,0,0,low
20,Bolivia,167.0,41,8,3.8,SA,0,0,0,0,1,med
21,Bosnia-Herzegovina,76.0,173,8,4.6,EU,0,1,0,0,0,low
22,Botswana,173.0,35,35,5.4,AF,0,0,0,0,0,med
23,Brazil,245.0,145,16,7.2,SA,0,0,0,0,1,high
24,Brunei,31.0,2,1,0.6,AS,1,0,0,0,0,low
25,Bulgaria,231.0,252,94,10.3,EU,0,1,0,0,0,high
26,Burkina Faso,25.0,7,7,4.3,AF,0,0,0,0,0,low
27,Burundi,88.0,0,0,6.3,AF,0,0,0,0,0,low
28,Cote d'Ivoire,37.0,1,7,4.0,AF,0,0,0,0,0,low
29,Cabo Verde,144.0,56,16,4.0,AF,0,0,0,0,0,med
30,Cambodia,57.0,65,1,2.2,AS,1,0,0,0,0,low
31,Cameroon,147.0,1,4,5.8,AF,0,0,0,0,0,med
32,Canada,240.0,122,100,8.2,NA,0,0,1,0,0,high
33,Central African Republic,17.0,2,1,1.8,AF,0,0,0,0,0,low
34,Chad,15.0,1,1,0.4,AF,0,0,0,0,0,low
35,Chile,130.0,124,172,7.6,SA,0,0,0,0,1,med
36,China,79.0,192,8,5.0,AS,1,0,0,0,0,low
37,Colombia,159.0,76,3,4.2,SA,0,0,0,0,1,med
38,Comoros,1.0,3,1,0.1,AF,0,0,0,0,0,low
39,Congo,76.0,1,9,1.7,AF,0,0,0,0,0,low
40,Cook Islands,0.0,254,74,5.9,OC,0,0,0,1,0,low
41,Costa Rica,149.0,87,11,4.4,NA,0,0,1,0,0,med
42,Croatia,230.0,87,254,10.2,EU,0,1,0,0,0,high
43,Cuba,93.0,137,5,4.2,NA,0,0,1,0,0,low
44,Cyprus,192.0,154,113,8.2,EU,0,1,0,0,0,med
45,Czech Republic,361.0,170,134,11.8,EU,0,1,0,0,0,high
46,North Korea,0.0,0,0,0.0,AS,1,0,0,0,0,low
47,DR Congo,32.0,3,1,2.3,AF,0,0,0,0,0,low
48,Denmark,224.0,81,278,10.4,EU,0,1,0,0,0,high
49,Djibouti,15.0,44,3,1.1,AF,0,0,0,0,0,low
50,Dominica,52.0,286,26,6.6,NA,0,0,1,0,0,low
51,Dominican Republic,193.0,147,9,6.2,NA,0,0,1,0,0,med
52,Ecuador,162.0,74,3,4.2,SA,0,0,0,0,1,med
53,Egypt,6.0,4,1,0.2,AF,0,0,0,0,0,low
54,El Salvador,52.0,69,2,2.2,NA,0,0,1,0,0,low
55,Equatorial Guinea,92.0,0,233,5.8,AF,0,0,0,0,0,low
56,Eritrea,18.0,0,0,0.5,AF,0,0,0,0,0,low
57,Estonia,224.0,194,59,9.5,EU,0,1,0,0,0,high
58,Ethiopia,20.0,3,0,0.7,AF,0,0,0,0,0,low
59,Fiji,77.0,35,1,2.0,OC,0,0,0,1,0,low
60,Finland,263.0,133,97,10.0,EU,0,1,0,0,0,high
61,France,127.0,151,370,11.8,EU,0,1,0,0,0,med
62,Gabon,347.0,98,59,8.9,AF,0,0,0,0,0,high
63,Gambia,8.0,0,1,2.4,AF,0,0,0,0,0,low
64,Georgia,52.0,100,149,5.4,EU,0,1,0,0,0,low
65,Germany,346.0,117,175,11.3,EU,0,1,0,0,0,high
66,Ghana,31.0,3,10,1.8,AF,0,0,0,0,0,low
67,Greece,133.0,112,218,8.3,EU,0,1,0,0,0,med
68,Grenada,199.0,438,28,11.9,NA,0,0,1,0,0,med
69,Guatemala,53.0,69,2,2.2,NA,0,0,1,0,0,low
70,Guinea,9.0,0,2,0.2,AF,0,0,0,0,0,low
71,Guinea-Bissau,28.0,31,21,2.5,AF,0,0,0,0,0,low
72,Guyana,93.0,302,1,7.1,SA,0,0,0,0,1,low
73,Haiti,1.0,326,1,5.9,NA,0,0,1,0,0,low
74,Honduras,69.0,98,2,3.0,NA,0,0,1,0,0,low
75,Hungary,234.0,215,185,11.3,EU,0,1,0,0,0,high
76,Iceland,233.0,61,78,6.6,EU,0,1,0,0,0,high
77,India,9.0,114,0,2.2,AS,1,0,0,0,0,low
78,Indonesia,5.0,1,0,0.1,AS,1,0,0,0,0,low
79,Iran,0.0,0,0,0.0,AS,1,0,0,0,0,low
80,Iraq,9.0,3,0,0.2,AS,1,0,0,0,0,low
81,Ireland,313.0,118,165,11.4,EU,0,1,0,0,0,high
82,Israel,63.0,69,9,2.5,AS,1,0,0,0,0,low
83,Italy,85.0,42,237,6.5,EU,0,1,0,0,0,low
84,Jamaica,82.0,97,9,3.4,NA,0,0,1,0,0,low
85,Japan,77.0,202,16,7.0,AS,1,0,0,0,0,low
86,Jordan,6.0,21,1,0.5,AS,1,0,0,0,0,low
87,Kazakhstan,124.0,246,12,6.8,AS,1,0,0,0,0,med
88,Kenya,58.0,22,2,1.8,AF,0,0,0,0,0,low
89,Kiribati,21.0,34,1,1.0,OC,0,0,0,1,0,low
90,Kuwait,0.0,0,0,0.0,AS,1,0,0,0,0,low
91,Kyrgyzstan,31.0,97,6,2.4,AS,1,0,0,0,0,low
92,Laos,62.0,0,123,6.2,AS,1,0,0,0,0,low
93,Latvia,281.0,216,62,10.5,EU,0,1,0,0,0,high
94,Lebanon,20.0,55,31,1.9,AS,1,0,0,0,0,low
95,Lesotho,82.0,29,0,2.8,AF,0,0,0,0,0,low
96,Liberia,19.0,152,2,3.1,AF,0,0,0,0,0,low
97,Libya,0.0,0,0,0.0,AF,0,0,0,0,0,low
98,Lithuania,343.0,244,56,12.9,EU,0,1,0,0,0,high
99,Luxembourg,236.0,133,271,11.4,EU,0,1,0,0,0,high
100,Madagascar,26.0,15,4,0.8,AF,0,0,0,0,0,low
101,Malawi,8.0,11,1,1.5,AF,0,0,0,0,0,low
102,Malaysia,13.0,4,0,0.3,AS,1,0,0,0,0,low
103,Maldives,0.0,0,0,0.0,AS,1,0,0,0,0,low
104,Mali,5.0,1,1,0.6,AF,0,0,0,0,0,low
105,Malta,149.0,100,120,6.6,EU,0,1,0,0,0,med
106,Marshall Islands,0.0,0,0,0.0,OC,0,0,0,1,0,low
107,Mauritania,0.0,0,0,0.0,AF,0,0,0,0,0,low
108,Mauritius,98.0,31,18,2.6,AF,0,0,0,0,0,low
109,Mexico,238.0,68,5,5.5,NA,0,0,1,0,0,high
110,Micronesia,62.0,50,18,2.3,OC,0,0,0,1,0,low
111,Monaco,0.0,0,0,0.0,EU,0,1,0,0,0,low
112,Mongolia,77.0,189,8,4.9,AS,1,0,0,0,0,low
113,Montenegro,31.0,114,128,4.9,EU,0,1,0,0,0,low
114,Morocco,12.0,6,10,0.5,AF,0,0,0,0,0,low
115,Mozambique,47.0,18,5,1.3,AF,0,0,0,0,0,low
116,Myanmar,5.0,1,0,0.1,AS,1,0,0,0,0,low
117,Namibia,376.0,3,1,6.8,AF,0,0,0,0,0,high
118,Nauru,49.0,0,8,1.0,OC,0,0,0,1,0,low
119,Nepal,5.0,6,0,0.2,AS,1,0,0,0,0,low
120,Netherlands,251.0,88,190,9.4,EU,0,1,0,0,0,high
121,New Zealand,203.0,79,175,9.3,OC,0,0,0,1,0,high
122,Nicaragua,78.0,118,1,3.5,NA,0,0,1,0,0,low
123,Niger,3.0,2,1,0.1,AF,0,0,0,0,0,low
124,Nigeria,42.0,5,2,9.1,AF,0,0,0,0,0,low
125,Niue,188.0,200,7,7.0,OC,0,0,0,1,0,med
126,Norway,169.0,71,129,6.7,EU,0,1,0,0,0,med
127,Oman,22.0,16,1,0.7,AS,1,0,0,0,0,low
128,Pakistan,0.0,0,0,0.0,AS,1,0,0,0,0,low
129,Palau,306.0,63,23,6.9,OC,0,0,0,1,0,high
130,Panama,285.0,104,18,7.2,NA,0,0,1,0,0,high
131,Papua New Guinea,44.0,39,1,1.5,OC,0,0,0,1,0,low
132,Paraguay,213.0,117,74,7.3,SA,0,0,0,0,1,high
133,Peru,163.0,160,21,6.1,SA,0,0,0,0,1,med
134,Philippines,71.0,186,1,4.6,AS,1,0,0,0,0,low
135,Poland,343.0,215,56,10.9,EU,0,1,0,0,0,high
136,Portugal,194.0,67,339,11.0,EU,0,1,0,0,0,med
137,Qatar,1.0,42,7,0.9,AS,1,0,0,0,0,low
138,South Korea,140.0,16,9,9.8,AS,1,0,0,0,0,med
139,Moldova,109.0,226,18,6.3,EU,0,1,0,0,0,med
140,Romania,297.0,122,167,10.4,EU,0,1,0,0,0,high
141,Russian Federation,247.0,326,73,11.5,AS,1,0,0,0,0,high
142,Rwanda,43.0,2,0,6.8,AF,0,0,0,0,0,low
143,St. Kitts & Nevis,194.0,205,32,7.7,NA,0,0,1,0,0,med
144,St. Lucia,171.0,315,71,10.1,NA,0,0,1,0,0,med
145,St. Vincent & the Grenadines,120.0,221,11,6.3,NA,0,0,1,0,0,med
146,Samoa,105.0,18,24,2.6,OC,0,0,0,1,0,med
147,San Marino,0.0,0,0,0.0,EU,0,1,0,0,0,low
148,Sao Tome & Principe,56.0,38,140,4.2,AF,0,0,0,0,0,low
149,Saudi Arabia,0.0,5,0,0.1,AS,1,0,0,0,0,low
150,Senegal,9.0,1,7,0.3,AF,0,0,0,0,0,low
151,Serbia,283.0,131,127,9.6,EU,0,1,0,0,0,high
152,Seychelles,157.0,25,51,4.1,AF,0,0,0,0,0,med
153,Sierra Leone,25.0,3,2,6.7,AF,0,0,0,0,0,low
154,Singapore,60.0,12,11,1.5,AS,1,0,0,0,0,low
155,Slovakia,196.0,293,116,11.4,EU,0,1,0,0,0,med
156,Slovenia,270.0,51,276,10.6,EU,0,1,0,0,0,high
157,Solomon Islands,56.0,11,1,1.2,OC,0,0,0,1,0,low
158,Somalia,0.0,0,0,0.0,AF,0,0,0,0,0,low
159,South Africa,225.0,76,81,8.2,AF,0,0,0,0,0,high
160,Spain,284.0,157,112,10.0,EU,0,1,0,0,0,high
161,Sri Lanka,16.0,104,0,2.2,AS,1,0,0,0,0,low
162,Sudan,8.0,13,0,1.7,AF,0,0,0,0,0,low
163,Suriname,128.0,178,7,5.6,SA,0,0,0,0,1,med
164,Swaziland,90.0,2,2,4.7,AF,0,0,0,0,0,low
165,Sweden,152.0,60,186,7.2,EU,0,1,0,0,0,med
166,Switzerland,185.0,100,280,10.2,EU,0,1,0,0,0,med
167,Syria,5.0,35,16,1.0,AS,1,0,0,0,0,low
168,Tajikistan,2.0,15,0,0.3,AS,1,0,0,0,0,low
169,Thailand,99.0,258,1,6.4,AS,1,0,0,0,0,low
170,Macedonia,106.0,27,86,3.9,EU,0,1,0,0,0,med
171,Timor-Leste,1.0,1,4,0.1,AS,1,0,0,0,0,low
172,Togo,36.0,2,19,1.3,AF,0,0,0,0,0,low
173,Tonga,36.0,21,5,1.1,OC,0,0,0,1,0,low
174,Trinidad & Tobago,197.0,156,7,6.4,NA,0,0,1,0,0,med
175,Tunisia,51.0,3,20,1.3,AF,0,0,0,0,0,low
176,Turkey,51.0,22,7,1.4,AS,1,0,0,0,0,low
177,Turkmenistan,19.0,71,32,2.2,AS,1,0,0,0,0,low
178,Tuvalu,6.0,41,9,1.0,OC,0,0,0,1,0,low
179,Uganda,45.0,9,0,8.3,AF,0,0,0,0,0,low
180,Ukraine,206.0,237,45,8.9,EU,0,1,0,0,0,high
181,United Arab Emirates,16.0,135,5,2.8,AS,1,0,0,0,0,low
182,United Kingdom,219.0,126,195,10.4,EU,0,1,0,0,0,high
183,Tanzania,36.0,6,1,5.7,AF,0,0,0,0,0,low
184,USA,249.0,158,84,8.7,NA,0,0,1,0,0,high
185,Uruguay,115.0,35,220,6.6,SA,0,0,0,0,1,med
186,Uzbekistan,25.0,101,8,2.4,AS,1,0,0,0,0,low
187,Vanuatu,21.0,18,11,0.9,OC,0,0,0,1,0,low
188,Venezuela,333.0,100,3,7.7,SA,0,0,0,0,1,high
189,Vietnam,111.0,2,1,2.0,AS,1,0,0,0,0,med
190,Yemen,6.0,0,0,0.1,AS,1,0,0,0,0,low
191,Zambia,32.0,19,4,2.5,AF,0,0,0,0,0,low
192,Zimbabwe,64.0,18,4,4.7,AF,0,0,0,0,0,low

In [89]:
# reset options to defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

In [90]:
# change the options temporarily (settings are restored when you exit the 'with' block)
with pd.option_context('max_rows', None, 'max_columns', None):
    print (drinks)

                          country   beer  spirit  wine  liters continent  \
0                     Afghanistan    0.0       0     0     0.0        AS
1                         Albania   89.0     132    54     4.9        EU
2                         Algeria   25.0       0    14     0.7        AF
3                         Andorra  245.0     138   312    12.4        EU
4                          Angola  217.0      57    45     5.9        AF
5               Antigua & Barbuda  102.0     128    45     4.9        NA
6                       Argentina  193.0      25   221     8.3        SA
7                         Armenia   21.0     179    11     3.8        EU
8                       Australia  261.0      72   212    10.4        OC
9                         Austria  279.0      75   191     9.7        EU
10                     Azerbaijan   21.0      46     5     1.3        EU
11                        Bahamas  122.0     176    51     6.3        NA
12                        Bahrain   42.0      63     7     2.0        AS
13                     Bangladesh    0.0       0     0     0.0        AS
14                       Barbados  143.0     173    36     6.3        NA
15                        Belarus  142.0     373    42    14.4        EU
16                        Belgium  295.0      84   212    10.5        EU
17                         Belize  263.0     114     8     6.8        NA
18                          Benin   34.0       4    13     1.1        AF
19                         Bhutan   23.0       0     0     0.4        AS
20                        Bolivia  167.0      41     8     3.8        SA
21             Bosnia-Herzegovina   76.0     173     8     4.6        EU
22                       Botswana  173.0      35    35     5.4        AF
23                         Brazil  245.0     145    16     7.2        SA
24                         Brunei   31.0       2     1     0.6        AS
25                       Bulgaria  231.0     252    94    10.3        EU
26                   Burkina Faso   25.0       7     7     4.3        AF
27                        Burundi   88.0       0     0     6.3        AF
28                  Cote d'Ivoire   37.0       1     7     4.0        AF
29                     Cabo Verde  144.0      56    16     4.0        AF
30                       Cambodia   57.0      65     1     2.2        AS
31                       Cameroon  147.0       1     4     5.8        AF
32                         Canada  240.0     122   100     8.2        NA
33       Central African Republic   17.0       2     1     1.8        AF
34                           Chad   15.0       1     1     0.4        AF
35                          Chile  130.0     124   172     7.6        SA
36                          China   79.0     192     8     5.0        AS
37                       Colombia  159.0      76     3     4.2        SA
38                        Comoros    1.0       3     1     0.1        AF
39                          Congo   76.0       1     9     1.7        AF
40                   Cook Islands    0.0     254    74     5.9        OC
41                     Costa Rica  149.0      87    11     4.4        NA
42                        Croatia  230.0      87   254    10.2        EU
43                           Cuba   93.0     137     5     4.2        NA
44                         Cyprus  192.0     154   113     8.2        EU
45                 Czech Republic  361.0     170   134    11.8        EU
46                    North Korea    0.0       0     0     0.0        AS
47                       DR Congo   32.0       3     1     2.3        AF
48                        Denmark  224.0      81   278    10.4        EU
49                       Djibouti   15.0      44     3     1.1        AF
50                       Dominica   52.0     286    26     6.6        NA
51             Dominican Republic  193.0     147     9     6.2        NA
52                        Ecuador  162.0      74     3     4.2        SA
53                          Egypt    6.0       4     1     0.2        AF
54                    El Salvador   52.0      69     2     2.2        NA
55              Equatorial Guinea   92.0       0   233     5.8        AF
56                        Eritrea   18.0       0     0     0.5        AF
57                        Estonia  224.0     194    59     9.5        EU
58                       Ethiopia   20.0       3     0     0.7        AF
59                           Fiji   77.0      35     1     2.0        OC
60                        Finland  263.0     133    97    10.0        EU
61                         France  127.0     151   370    11.8        EU
62                          Gabon  347.0      98    59     8.9        AF
63                         Gambia    8.0       0     1     2.4        AF
64                        Georgia   52.0     100   149     5.4        EU
65                        Germany  346.0     117   175    11.3        EU
66                          Ghana   31.0       3    10     1.8        AF
67                         Greece  133.0     112   218     8.3        EU
68                        Grenada  199.0     438    28    11.9        NA
69                      Guatemala   53.0      69     2     2.2        NA
70                         Guinea    9.0       0     2     0.2        AF
71                  Guinea-Bissau   28.0      31    21     2.5        AF
72                         Guyana   93.0     302     1     7.1        SA
73                          Haiti    1.0     326     1     5.9        NA
74                       Honduras   69.0      98     2     3.0        NA
75                        Hungary  234.0     215   185    11.3        EU
76                        Iceland  233.0      61    78     6.6        EU
77                          India    9.0     114     0     2.2        AS
78                      Indonesia    5.0       1     0     0.1        AS
79                           Iran    0.0       0     0     0.0        AS
80                           Iraq    9.0       3     0     0.2        AS
81                        Ireland  313.0     118   165    11.4        EU
82                         Israel   63.0      69     9     2.5        AS
83                          Italy   85.0      42   237     6.5        EU
84                        Jamaica   82.0      97     9     3.4        NA
85                          Japan   77.0     202    16     7.0        AS
86                         Jordan    6.0      21     1     0.5        AS
87                     Kazakhstan  124.0     246    12     6.8        AS
88                          Kenya   58.0      22     2     1.8        AF
89                       Kiribati   21.0      34     1     1.0        OC
90                         Kuwait    0.0       0     0     0.0        AS
91                     Kyrgyzstan   31.0      97     6     2.4        AS
92                           Laos   62.0       0   123     6.2        AS
93                         Latvia  281.0     216    62    10.5        EU
94                        Lebanon   20.0      55    31     1.9        AS
95                        Lesotho   82.0      29     0     2.8        AF
96                        Liberia   19.0     152     2     3.1        AF
97                          Libya    0.0       0     0     0.0        AF
98                      Lithuania  343.0     244    56    12.9        EU
99                     Luxembourg  236.0     133   271    11.4        EU
100                    Madagascar   26.0      15     4     0.8        AF
101                        Malawi    8.0      11     1     1.5        AF
102                      Malaysia   13.0       4     0     0.3        AS
103                      Maldives    0.0       0     0     0.0        AS
104                          Mali    5.0       1     1     0.6        AF
105                         Malta  149.0     100   120     6.6        EU
106              Marshall Islands    0.0       0     0     0.0        OC
107                    Mauritania    0.0       0     0     0.0        AF
108                     Mauritius   98.0      31    18     2.6        AF
109                        Mexico  238.0      68     5     5.5        NA
110                    Micronesia   62.0      50    18     2.3        OC
111                        Monaco    0.0       0     0     0.0        EU
112                      Mongolia   77.0     189     8     4.9        AS
113                    Montenegro   31.0     114   128     4.9        EU
114                       Morocco   12.0       6    10     0.5        AF
115                    Mozambique   47.0      18     5     1.3        AF
116                       Myanmar    5.0       1     0     0.1        AS
117                       Namibia  376.0       3     1     6.8        AF
118                         Nauru   49.0       0     8     1.0        OC
119                         Nepal    5.0       6     0     0.2        AS
120                   Netherlands  251.0      88   190     9.4        EU
121                   New Zealand  203.0      79   175     9.3        OC
122                     Nicaragua   78.0     118     1     3.5        NA
123                         Niger    3.0       2     1     0.1        AF
124                       Nigeria   42.0       5     2     9.1        AF
125                          Niue  188.0     200     7     7.0        OC
126                        Norway  169.0      71   129     6.7        EU
127                          Oman   22.0      16     1     0.7        AS
128                      Pakistan    0.0       0     0     0.0        AS
129                         Palau  306.0      63    23     6.9        OC
130                        Panama  285.0     104    18     7.2        NA
131              Papua New Guinea   44.0      39     1     1.5        OC
132                      Paraguay  213.0     117    74     7.3        SA
133                          Peru  163.0     160    21     6.1        SA
134                   Philippines   71.0     186     1     4.6        AS
135                        Poland  343.0     215    56    10.9        EU
136                      Portugal  194.0      67   339    11.0        EU
137                         Qatar    1.0      42     7     0.9        AS
138                   South Korea  140.0      16     9     9.8        AS
139                       Moldova  109.0     226    18     6.3        EU
140                       Romania  297.0     122   167    10.4        EU
141            Russian Federation  247.0     326    73    11.5        AS
142                        Rwanda   43.0       2     0     6.8        AF
143             St. Kitts & Nevis  194.0     205    32     7.7        NA
144                     St. Lucia  171.0     315    71    10.1        NA
145  St. Vincent & the Grenadines  120.0     221    11     6.3        NA
146                         Samoa  105.0      18    24     2.6        OC
147                    San Marino    0.0       0     0     0.0        EU
148           Sao Tome & Principe   56.0      38   140     4.2        AF
149                  Saudi Arabia    0.0       5     0     0.1        AS
150                       Senegal    9.0       1     7     0.3        AF
151                        Serbia  283.0     131   127     9.6        EU
152                    Seychelles  157.0      25    51     4.1        AF
153                  Sierra Leone   25.0       3     2     6.7        AF
154                     Singapore   60.0      12    11     1.5        AS
155                      Slovakia  196.0     293   116    11.4        EU
156                      Slovenia  270.0      51   276    10.6        EU
157               Solomon Islands   56.0      11     1     1.2        OC
158                       Somalia    0.0       0     0     0.0        AF
159                  South Africa  225.0      76    81     8.2        AF
160                         Spain  284.0     157   112    10.0        EU
161                     Sri Lanka   16.0     104     0     2.2        AS
162                         Sudan    8.0      13     0     1.7        AF
163                      Suriname  128.0     178     7     5.6        SA
164                     Swaziland   90.0       2     2     4.7        AF
165                        Sweden  152.0      60   186     7.2        EU
166                   Switzerland  185.0     100   280    10.2        EU
167                         Syria    5.0      35    16     1.0        AS
168                    Tajikistan    2.0      15     0     0.3        AS
169                      Thailand   99.0     258     1     6.4        AS
170                     Macedonia  106.0      27    86     3.9        EU
171                   Timor-Leste    1.0       1     4     0.1        AS
172                          Togo   36.0       2    19     1.3        AF
173                         Tonga   36.0      21     5     1.1        OC
174             Trinidad & Tobago  197.0     156     7     6.4        NA
175                       Tunisia   51.0       3    20     1.3        AF
176                        Turkey   51.0      22     7     1.4        AS
177                  Turkmenistan   19.0      71    32     2.2        AS
178                        Tuvalu    6.0      41     9     1.0        OC
179                        Uganda   45.0       9     0     8.3        AF
180                       Ukraine  206.0     237    45     8.9        EU
181          United Arab Emirates   16.0     135     5     2.8        AS
182                United Kingdom  219.0     126   195    10.4        EU
183                      Tanzania   36.0       6     1     5.7        AF
184                           USA  249.0     158    84     8.7        NA
185                       Uruguay  115.0      35   220     6.6        SA
186                    Uzbekistan   25.0     101     8     2.4        AS
187                       Vanuatu   21.0      18    11     0.9        OC
188                     Venezuela  333.0     100     3     7.7        SA
189                       Vietnam  111.0       2     1     2.0        AS
190                         Yemen    6.0       0     0     0.1        AS
191                        Zambia   32.0      19     4     2.5        AF
192                      Zimbabwe   64.0      18     4     4.7        AF

     cont_AS  cont_EU  cont_NA  cont_OC  cont_SA beer_level
0          1        0        0        0        0        low
1          0        1        0        0        0        low
2          0        0        0        0        0        low
3          0        1        0        0        0       high
4          0        0        0        0        0       high
5          0        0        1        0        0        med
6          0        0        0        0        1        med
7          0        1        0        0        0        low
8          0        0        0        1        0       high
9          0        1        0        0        0       high
10         0        1        0        0        0        low
11         0        0        1        0        0        med
12         1        0        0        0        0        low
13         1        0        0        0        0        low
14         0        0        1        0        0        med
15         0        1        0        0        0        med
16         0        1        0        0        0       high
17         0        0        1        0        0       high
18         0        0        0        0        0        low
19         1        0        0        0        0        low
20         0        0        0        0        1        med
21         0        1        0        0        0        low
22         0        0        0        0        0        med
23         0        0        0        0        1       high
24         1        0        0        0        0        low
25         0        1        0        0        0       high
26         0        0        0        0        0        low
27         0        0        0        0        0        low
28         0        0        0        0        0        low
29         0        0        0        0        0        med
30         1        0        0        0        0        low
31         0        0        0        0        0        med
32         0        0        1        0        0       high
33         0        0        0        0        0        low
34         0        0        0        0        0        low
35         0        0        0        0        1        med
36         1        0        0        0        0        low
37         0        0        0        0        1        med
38         0        0        0        0        0        low
39         0        0        0        0        0        low
40         0        0        0        1        0        low
41         0        0        1        0        0        med
42         0        1        0        0        0       high
43         0        0        1        0        0        low
44         0        1        0        0        0        med
45         0        1        0        0        0       high
46         1        0        0        0        0        low
47         0        0        0        0        0        low
48         0        1        0        0        0       high
49         0        0        0        0        0        low
50         0        0        1        0        0        low
51         0        0        1        0        0        med
52         0        0        0        0        1        med
53         0        0        0        0        0        low
54         0        0        1        0        0        low
55         0        0        0        0        0        low
56         0        0        0        0        0        low
57         0        1        0        0        0       high
58         0        0        0        0        0        low
59         0        0        0        1        0        low
60         0        1        0        0        0       high
61         0        1        0        0        0        med
62         0        0        0        0        0       high
63         0        0        0        0        0        low
64         0        1        0        0        0        low
65         0        1        0        0        0       high
66         0        0        0        0        0        low
67         0        1        0        0        0        med
68         0        0        1        0        0        med
69         0        0        1        0        0        low
70         0        0        0        0        0        low
71         0        0        0        0        0        low
72         0        0        0        0        1        low
73         0        0        1        0        0        low
74         0        0        1        0        0        low
75         0        1        0        0        0       high
76         0        1        0        0        0       high
77         1        0        0        0        0        low
78         1        0        0        0        0        low
79         1        0        0        0        0        low
80         1        0        0        0        0        low
81         0        1        0        0        0       high
82         1        0        0        0        0        low
83         0        1        0        0        0        low
84         0        0        1        0        0        low
85         1        0        0        0        0        low
86         1        0        0        0        0        low
87         1        0        0        0        0        med
88         0        0        0        0        0        low
89         0        0        0        1        0        low
90         1        0        0        0        0        low
91         1        0        0        0        0        low
92         1        0        0        0        0        low
93         0        1        0        0        0       high
94         1        0        0        0        0        low
95         0        0        0        0        0        low